html {
    height: 100vh;
}

body {
    height: 100%;
    max-width: unset;
}

.login-container {
    width: 100%;
    padding: 1rem;
}

.login-container .logo {
    display: block;
    margin: 60px auto;
    height: 120px;
    text-align: center;
}

.login-container form label,
.login-container form input,
.login-container form a,
.login-container button{
    display: block;
    width: 100%;
}

.login-container form label {
    margin-top: 16px;
    margin-bottom: 4px;
}

.login-container form input {
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    height: 48px;
    color: var(--color-pearl);
    padding: 0.5rem;
}

.login-container form a {
    margin-top: 4px;
    text-align: right;
    color: var(--color-pearl);
    font-size: 12px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.login-container form button {
    background-color: var(--color-pearl);
    height: 48px;
    margin-top: 32px;
    border: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--color-black);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.login-container form input:focus,
.login-container button:focus {
    outline: none;
}

.login-container span {
    margin-top: 16px;;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.login-container span a {
    margin-left: 8px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@media (min-width: 376px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: 
        linear-gradient(
			rgba(17, 22, 29, 0.9),
			rgba(17, 22, 29, 0.9)
		),
        url("../img/login_bg_1.jpeg");
        background-size: cover;
        background-position: center;
    }

    .login-container {
        max-width: 375px;
        padding: 0 3rem 3rem 3rem;
        box-shadow: 0px 0px 12px 1px var(--color-primary);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: var(--color-black);
    }
}

@media (min-width: 768px) {
    .login-container {
        max-width: 455px;
    }
}