@font-face {
    font-family: "Icons-Font";
    src:    url("../fonts/icomoon.eot"),
            url("../fonts/icomoon.woff") format("woff"),
            url("../fonts/icomoon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-black: #10151B;
    --color-primary: #19232F;
    --color-pearl: #F8FBFF;
    --nav-height: 80px;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    overflow-x: hidden;
}

img, video {
    max-width: 100%;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--color-pearl);
}

html {
    background-color: var(--color-black);
    color: var(--color-pearl);
}

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
}

h1 {
    font-size: 24px;
    margin: 16px 0;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: 24px 0;
}

h3 {
    font-size: 16px;
    margin: 24px 0;
}

i[class*="icon-"]::before,
i[class*="icon-"]::after {
    font-family: "Icons-Font";
    font-size: 24px;
    font-style: normal;
}

button {
    min-height: 32px;
    padding: 8px 16px;
    border: 1px solid var(--color-pearl);
    background-color: transparent;
    border-radius: 0;
    font-weight: bold;
    color: var(--color-pearl);
}

button:hover {
    background-color: var(--color-pearl);
    color: var(--color-black);
    cursor: pointer;
}

button:focus {
    outline: none;
}

section {
    margin: 60px 0;
}

@media (min-width: 536px) {
    h1 {
        font-size: 32px;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 40px;
        margin: 24px 0;
    }

    h2 {
        font-size: 32px;
        margin: 24px 0;
    }

    button {
        height: 56px;
        font-size: 20px;
        padding: 8px 32px;
    }
}

@media (min-width: 992px) {

    h1 {
        font-size: 64px;
        margin: 32px 0;
    }
}