:root {
    --color-black: #10151B;
    --color-primary: #19232F;
    --color-pearl: #F8FBFF;
    
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img, video {
    max-width: 100%;
}

html {
    background-color: var(--color-black);
    color: var(--color-pearl);
}

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}